@page
@model Web_PizzaShop.Pages.Admin.DashboardModel
@{
    Layout = "_AdminLayout";
}


<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Demo CSS Files -->
	<link type="text/css" href="~/css/demo-files/ecommerce-dashboard-1.css" rel="stylesheet">
</head>
<body>
		<!-- START Body Container -->
	<div id="body-container">
		<!-- START Left Column -->
		<div id="left-column" class=""> <!-- NOTE TO READER: Accepts the following class(es) "menu-icon-only", "fixed" class -->
			<div id="mainnav">
				<ul class="mainnav"> <!-- NOTE TO READER: Accepts the following class(es) "animate" class -->
					<li class="menu-item-top">
						<a href="index.html" class="top">
							<span class="main-menu-icon">
								<span aria-hidden="true" class="icon icon-grid-big"></span>
							</span>
							<span class="main-menu-text">Dashboard</span>
						</a>
					</li>
					<li class="menu-item-top selected">
						<a href="#" class="top">
							<span class="main-menu-icon">
								<span aria-hidden="true" class="icon icon-dollar"></span>
							</span>
							<span class="main-menu-text">Dashboard</span>
						</a>
						<ul>
							<li><a href="Dashboard">Dashboard</a></li>
							<li><a href="OrderList">Order List</a></li>
							<li><a href="ProductList">Product List</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<!-- END Left Column -->

		<!-- START Right Column -->
		<div id="right-column">
			<div class="right-column-content">
				<div class="row">
					<div class="col-xs-12">
						<ol class="breadcrumb">
							<li>
								<a href="Dashboard">Dashboard</a>
							</li>
						</ol>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<h1>
							<span aria-hidden="true" class="icon icon-dollar"></span>
							<span class="main-text">
								eCommerce Dashboard
							</span>
						</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<!-- START Block: Overview Graph -->
						<div class="block overview-block">
							<div class="block-heading">
								<div class="main-text h2">
									Overview
								</div>
								<div class="block-controls">
									<span aria-hidden="true" class="icon icon-cross icon-size-medium block-control-remove"></span>
									<span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
								</div>
							</div>
							<div class="block-content-outer">
								<div class="block-content-inner">
									<div class="graph-range">
										<form role="form" class="form-inline">
											<div class="form-group graph-controls">
												<label for="date-range-select" class="control-label">Date Range</label>
												<select class="date-range-select form-control input-sm" id="date-range-select">
													<option value="today">Today</option>
													<option value="yesterday">Yesterday</option>
													<option value="this_week">This Week</option>
													<option value="last_week">Last Week</option>
													<option value="this_month">This Month</option>
													<option value="this_year" selected="selected">This Year</option>
													<option value="last_year">Last Year</option>
													<option value="custom">Custom</option>
												</select>
											</div>
											<div class="form-group graph-controls">
												<div class="date-picker-connected">
													<div class="input-group input-group-sm date-picker-start">
														<input type="text" class="form-control" autocomplete="off" size="10" placeholder="DD/MM/YYYY" data-date-format="DD/MM/YYYY">
														<span class="input-group-addon input-group-icon">
															<span class="glyphicon glyphicon-calendar"></span>
														</span>
													</div>
													to 
													<div class="input-group input-group-sm date-picker-end">
														<input type="text" class="form-control" autocomplete="off" size="10" placeholder="DD/MM/YYYY" data-date-format="DD/MM/YYYY">
														<span class="input-group-addon input-group-icon">
															<span class="glyphicon glyphicon-calendar"></span>
														</span>
													</div>
													<a class="btn btn-info btn-sm">
														<span class="glyphicon glyphicon-refresh"></span>
													</a>
												</div>
											</div>
											<div class="form-group graph-controls">
												<label for="overview-order-status" class="control-label">Order Status</label>
												<select class="form-control input-sm" id="overview-order-status">
													<option value="all">All</option>
													<option value="canceled">Canceled</option>
													<option value="complete">Complete</option>
													<option value="denied">Denied</option>
													<option value="pending">Pending</option>
												</select>
											</div>
										</form>
									</div>
									<div id="overview" class="graph graph-size-normal" data-graph-colors="#636EFF,#418AF1"></div>
								</div>
							</div>
						</div>
						<!-- END Block: Overview Graph -->
					</div>
				</div>
				<div class="row">
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-6">
								<!-- START Block: Sales Graph -->
								<div class="block block-size-normal">
									<div class="block-heading">
										<div class="main-text h2">
											Sales
										</div>
										<div class="block-controls">
											<span aria-hidden="true" class="icon icon-cross icon-size-medium block-control-remove"></span>
											<span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
										</div>
									</div>
									<div class="block-content-outer">
										<div class="block-content-inner">
											<div class="sales-value-graph-container">
												<div id="sales-value-graph" class="graph graph-size-medium"></div>
											</div>
											<div class="sales-value-legend">
												<div class="sales-value-legend-item">
													<div class="sales-value-legend-color">
														<div class="sales-value-legend-color-box" data-color="#f14141"></div>
													</div>
													<div class="sales-value-legend-number" data-raw-value="80633.01">$80,633.01</div>
													<div class="sales-value-legend-text">This Year's Sales</div>
												</div>
												<div class="sales-value-legend-item">
													<div class="sales-value-legend-color">
														<div class="sales-value-legend-color-box" data-color="#4596f1"></div>
													</div>
													<div class="sales-value-legend-number" data-raw-value="70395.12">$70,395.12</div>
													<div class="sales-value-legend-text">Previous Years' Sales</div>
												</div>
												<div class="sales-value-legend-item" data-ignore="true">
													<div class="sales-value-legend-color">
														<div class="sales-value-legend-color-box" data-color="#FFFFFF"></div>
													</div>
													<div class="sales-value-legend-number" data-raw-value="151028.13">$15,1028.13</div>
													<div class="sales-value-legend-text">Total Sales</div>
												</div>
											</div>
											<div class="sales-value-misc">
												<div class="sales-value-misc-intro">
													Here Are Your Sales &amp; Averages For This Year:
												</div>
												<div class="sales-value-misc-figures">
													<table class="table">
														<tr class="sales-value-misc-figures-item">
															<td class="sales-value-misc-figures-item-text">
																Today (Daily Avg.)
															</td>
															<td class="sales-value-misc-figures-item-value">
																$176.00 ($98.24)
															</td>
														</tr>
														<tr class="sales-value-misc-figures-item">
															<td class="sales-value-misc-figures-item-text">
																This Week (Weekly Avg.)
															</td>
															<td class="sales-value-misc-figures-item-value">
																$1,742.37 ($681.80)
															</td>
														</tr>
														<tr class="sales-value-misc-figures-item">
															<td class="sales-value-misc-figures-item-text">
																This Month (Monthly Avg.)
															</td>
															<td class="sales-value-misc-figures-item-value">
																$8,010.45 ($2,840.84)
															</td>
														</tr>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- END Block: Sales Graph -->
							</div>
							<div class="col-md-6">
								<!-- START Widget Hybrid: Top Ranking Products -->
								<div class="block block-size-normal top-ranking-items-block top-products" data-url="~/test-data/ecommerce-dashboard-1/top-products.txt">
									<div class="block-heading">
										<div class="main-text h2">
											Top 5 Products
										</div>
										<div class="block-controls">
											<span aria-hidden="true" class="icon icon-cross icon-size-medium block-control-remove"></span>
											<span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
										</div>
									</div>
									<div class="block-content-outer">
										<div class="block-content-inner">
											<div class="top-ranking-items">
												<div class="top-ranking-items-intro">
													Most Sold Products
												</div>
												<div class="top-ranking-items-date-range graph-range">
													<form class="form-inline" role="form">
														<div class="form-group graph-controls">
															<label class="control-label" for="date-range-select-products">Date Range</label>
															<select id="date-range-select-products" class="date-range-select form-control input-sm">
																<option selected="selected" value="today">Today</option>
																<option value="yesterday">Yesterday</option>
																<option value="this_week">This Week</option>
																<option value="last_week">Last Week</option>
																<option value="this_month">This Month</option>
																<option value="this_year">This Year</option>
															</select>
														</div>
													</form>
												</div>
												<div class="top-ranking-items-content">
													<div class="top-ranking-items-graph">
														<div id="top-products-graph" class="graph graph-pie graph-size-normal" data-graph-colors="#f17d45,#4596f1,#f14141,#ef006d,#f49448"></div>
													</div>
													<div class="top-ranking-items-legend">
														<ul>
															<li class="top-ranking-item">
																<div class="top-ranking-item-legend-color">
																	<div class="top-ranking-item-legend-color-box"></div>
																</div>
																<div class="top-ranking-item-legend-text" data-raw-value="">
																	<a href="#"><span class="item-name">--</span></a> - <span class="count"></span> Sold
																</div>
															</li>
															<li class="top-ranking-item">
																<div class="top-ranking-item-legend-color">
																	<div class="top-ranking-item-legend-color-box"></div>
																</div>
																<div class="top-ranking-item-legend-text" data-raw-value="">
																	<a href="#"><span class="item-name">--</span></a> - <span class="count"></span> Sold
																</div>
															</li>
															<li class="top-ranking-item">
																<div class="top-ranking-item-legend-color">
																	<div class="top-ranking-item-legend-color-box"></div>
																</div>
																<div class="top-ranking-item-legend-text" data-raw-value="">
																	<a href="#"><span class="item-name">--</span></a> - <span class="count"></span> Sold
																</div>
															</li>
															<li class="top-ranking-item">
																<div class="top-ranking-item-legend-color">
																	<div class="top-ranking-item-legend-color-box"></div>
																</div>
																<div class="top-ranking-item-legend-text" data-raw-value="">
																	<a href="#"><span class="item-name">--</span></a> - <span class="count"></span> Sold
																</div>
															</li>
															<li class="top-ranking-item">
																<div class="top-ranking-item-legend-color">
																	<div class="top-ranking-item-legend-color-box"></div>
																</div>
																<div class="top-ranking-item-legend-text" data-raw-value="">
																	<a href="#"><span class="item-name">--</span></a> - <span class="count"></span> Sold
																</div>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- END Widget Hybrid: Top Ranking Products -->
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<!-- START Widget Hybrid: Misc. Info -->
								<div class="block block-size-normal">
									<div class="block-heading">
										<div class="main-text h2">
											Misc. Info
										</div>
										<div class="block-controls">
											<span aria-hidden="true" class="icon icon-cross icon-size-medium block-control-remove"></span>
											<span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
										</div>
									</div>
									<div class="block-content-outer">
										<div class="block-content-inner">
											<div class="other-stats">
												<table class="table table-striped table-hover table-condensed">
													<tr>
														<td class="other-stats-icon">
															<span class="icon icon-cube"></span>
														</td>
														<td class="other-stats-number">
															204
														</td>
														<td class="other-stats-text">
															<a href="#">
																Total Orders
															</a>
														</td>
													</tr>
													<tr>
														<td class="other-stats-icon">
															<span class="icon icon-user"></span>
														</td>
														<td class="other-stats-number">
															498
														</td>
														<td class="other-stats-text">
															<a href="#">
																Total Customers
															</a>
														</td>
													</tr>
													<tr>
														<td class="other-stats-icon">
															<span class="icon icon-mail"></span>
														</td>
														<td class="other-stats-number">
															381
														</td>
														<td class="other-stats-text">
															<a href="#">
																Newsletter Subscribers
															</a>
														</td>
													</tr>
													<tr>
														<td class="other-stats-icon">
															<span class="icon icon-star"></span>
														</td>
														<td class="other-stats-number">
															100
														</td>
														<td class="other-stats-text">
															<a href="#">
																Reviews
															</a>
														</td>
													</tr>
													<tr>
														<td class="other-stats-icon">
															<span class="icon icon-user"></span>
														</td>
														<td class="other-stats-number">
															107
														</td>
														<td class="other-stats-text">
															<a href="#">
																Affiliates
															</a>
														</td>
													</tr>
													<tr>
														<td class="other-stats-icon">
															<span class="icon icon-blank"></span>
														</td>
														<td class="other-stats-number">
															54
														</td>
														<td class="other-stats-text">
															<a href="#">
																Affiliates Awaiting Approval
															</a>
														</td>
													</tr>
													<tr>
														<td class="other-stats-icon">
															<span class="icon icon-arrow-curve-left"></span>
														</td>
														<td class="other-stats-number">
															2%
														</td>
														<td class="other-stats-text">
															<a href="#">
																Return Rate
															</a>
														</td>
													</tr>
												</table>
											</div>
										</div>
									</div>
								</div>
								<!-- END Widget Hybrid: Misc. Info -->
							</div>
							<div class="col-md-6">
								<!-- START Widget Hybrid: Top Ranking Customer -->
								<div class="block block-size-normal top-ranking-items-block top-customers" data-url="~/test-data/ecommerce-dashboard-1/top-products.txt">
									<div class="block-heading">
										<div class="main-text h2">
											Top 5 Customers
										</div>
										<div class="block-controls">
											<span aria-hidden="true" class="icon icon-cross icon-size-medium block-control-remove"></span>
											<span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
										</div>
									</div>
									<div class="block-content-outer">
										<div class="block-content-inner">
											<div class="top-ranking-items">
												<div class="top-ranking-items-intro">
													Customers That Have Made The Highest Purchases
												</div>
												<div class="top-ranking-items-date-range graph-range">
													<form class="form-inline" role="form">
														<div class="form-group graph-controls">
															<label class="control-label" for="date-range-select-customers">Date Range</label>
															<select id="date-range-select-customers" class="date-range-select form-control input-sm">
																<option selected="selected" value="today">Today</option>
																<option value="yesterday">Yesterday</option>
																<option value="this_week">This Week</option>
																<option value="last_week">Last Week</option>
																<option value="this_month">This Month</option>
																<option value="this_year">This Year</option>
															</select>
														</div>
													</form>
												</div>
												<div class="top-ranking-items-content">
													<div class="top-ranking-items-graph">
														<div id="top-customers-graph" class="graph graph-pie graph-size-normal" data-graph-colors="#4596f1,#f17d45,#ef006d,#82D14D,#A5BD05"></div>
													</div>
													<div class="top-ranking-items-legend">
														<ul>
															<li class="top-ranking-item">
																<div class="top-ranking-item-legend-color">
																	<div class="top-ranking-item-legend-color-box"></div>
																</div>
																<div class="top-ranking-item-legend-text" data-raw-value="">
																	<a href="#"><span class="item-name">--</span></a> - $<span class="count"></span>
																</div>
															</li>
															<li class="top-ranking-item">
																<div class="top-ranking-item-legend-color">
																	<div class="top-ranking-item-legend-color-box"></div>
																</div>
																<div class="top-ranking-item-legend-text" data-raw-value="">
																	<a href="#"><span class="item-name">--</span></a> - $<span class="count"></span>
																</div>
															</li>
															<li class="top-ranking-item">
																<div class="top-ranking-item-legend-color">
																	<div class="top-ranking-item-legend-color-box"></div>
																</div>
																<div class="top-ranking-item-legend-text" data-raw-value="">
																	<a href="#"><span class="item-name">--</span></a> - $<span class="count"></span>
																</div>
															</li>
															<li class="top-ranking-item">
																<div class="top-ranking-item-legend-color">
																	<div class="top-ranking-item-legend-color-box"></div>
																</div>
																<div class="top-ranking-item-legend-text" data-raw-value="">
																	<a href="#"><span class="item-name">--</span></a> - $<span class="count"></span>
																</div>
															</li>
															<li class="top-ranking-item">
																<div class="top-ranking-item-legend-color">
																	<div class="top-ranking-item-legend-color-box"></div>
																</div>
																<div class="top-ranking-item-legend-text" data-raw-value="">
																	<a href="#"><span class="item-name">--</span></a> - $<span class="count"></span>
																</div>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- END Widget Hybrid: Top Ranking Products -->
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="row">
							<div class="col-md-12">
								<!-- START Widget: Quick Info -->
								<div class="c-widget c-widget-quick-info c-widget-size-small highlight-color-blue" data-url="#">
									<div class="c-widget-icon">
										<span class="icon icon-check"></span>
									</div>
									<div class="c-wdiget-content-block">
										<div class="c-widget-content-heading">
											6,508
										</div>
										<div class="c-widget-content-sub">
											Completed Orders
										</div>
									</div>
								</div>
								<!-- END Widget: Quick Info -->
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<!-- START Widget: Quick Info -->
								<div class="c-widget c-widget-quick-info c-widget-size-small highlight-color-yellow" data-url="#">
									<div class="c-widget-icon">
										<span class="icon icon-question"></span>
									</div>
									<div class="c-wdiget-content-block">
										<div class="c-widget-content-heading">
											234
										</div>
										<div class="c-widget-content-sub">
											Pending Orders
										</div>
									</div>
								</div>
								<!-- END Widget: Quick Info -->
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<!-- START Widget: Quick Info -->
								<div class="c-widget c-widget-quick-info c-widget-size-small highlight-color-orange" data-url="#">
									<div class="c-widget-icon">
										<span class="icon icon-arrow-curve-left"></span>
									</div>
									<div class="c-wdiget-content-block">
										<div class="c-widget-content-heading">
											130
										</div>
										<div class="c-widget-content-sub">
											Returned Products
										</div>
									</div>
								</div>
								<!-- END Widget: Quick Info -->
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<!-- START Widget: Quick Info -->
								<div class="c-widget c-widget-quick-info c-widget-size-small highlight-color-red" data-url="#">
									<div class="c-widget-icon">
										<span class="icon icon-cross"></span>
									</div>
									<div class="c-wdiget-content-block">
										<div class="c-widget-content-heading">
											90
										</div>
										<div class="c-widget-content-sub">
											Canceled Orders
										</div>
									</div>
								</div>
								<!-- END Widget: Quick Info -->
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<!-- START Widget: Quick Info -->
								<div class="c-widget c-widget-graph c-widget-size-medium highlight-color-blue">
									<div class="c-widget-icon">
										<span class="icon icon-double-diamonds"></span>
									</div>
									<div class="c-wdiget-graph-actual">
										<div id="sales-comparison" class="graph graph-size-small" data-graph-colors="#f17d45,#4596f1"></div>
									</div>
									<div class="c-wdiget-content-block">
										<div class="c-widget-content-heading">
											Sales Comparison
										</div>
										<div class="c-widget-content-sub">
											T-Shirts/Shoes
										</div>
									</div>
								</div>
								<!-- END Widget: Quick Info -->
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<!-- START Widget: Quick Info -->
								<div class="c-widget c-widget-custom c-widget-size-normal highlight-color-blue">
									<div class="c-widget-icon">
										<span class="icon icon-comments"></span>
									</div>
									<div id="carousel-mail" class="carousel slide" data-ride="carousel">
										<!-- Wrapper for slides -->
										<div class="carousel-inner" role="listbox">
											<div class="item active">
												<div class="c-wdiget-content-block">
													<div class="c-widget-content-heading">
														Kyle <small>Feedback - Delivery</small>
													</div>
													<div class="c-widget-content-body">
														Excellent delivery time! Thanks
													</div>
													<div class="c-widget-content-sub">
														<a href="#">
															<span class="glyphicon glyphicon-star"></span> 
															Thank This User
														</a>
													</div>
												</div>
											</div>
											<div class="item">
												<div class="c-wdiget-content-block">
													<div class="c-widget-content-heading">
														Samantha <small>Feedback - Product</small>
													</div>
													<div class="c-widget-content-body">
														I love my new phone. It was priced reasonably and workds GREAT!
													</div>
													<div class="c-widget-content-sub">
														<a href="#">
															<span class="glyphicon glyphicon-star"></span> 
															Thank This User
														</a>
													</div>
												</div>
											</div>
											<div class="item">
												<div class="c-wdiget-content-block">
													<div class="c-widget-content-heading">
														George <small>Feedback - Delivery</small>
													</div>
													<div class="c-widget-content-body">
														As usual, your delivery time is perfect.
													</div>
													<div class="c-widget-content-sub">
														<a href="#">
															<span class="glyphicon glyphicon-star"></span> 
															Thank This User
														</a>
													</div>
												</div>
											</div>
										</div>
										<!-- Controls -->
										<a class="left carousel-control" href="#carousel-mail" role="button" data-slide="prev">
											<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
											<span class="sr-only">Previous</span>
										</a>
										<a class="right carousel-control" href="#carousel-mail" role="button" data-slide="next">
											<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
											<span class="sr-only">Next</span>
										</a>
									</div>
								</div>
								<!-- END Widget: Quick Info -->
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<!-- START Block: Latest 10 Orders -->
						<div class="block">
							<div class="block-heading">
								<div class="main-text h2">
									Latest 10 Orders
								</div>
								<div class="block-controls">
									<span aria-hidden="true" class="icon icon-cross icon-size-medium block-control-remove"></span>
									<span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
								</div>
							</div>
							<div class="block-content-outer">
								<div class="block-content-inner">
									<div class="table-responsive">
										<table class="table table-condensed table-striped table-bordered table-hover">
											<thead>
												<tr>
													<th class="text-right col-xs-1">Order ID</th>
													<th class="col-xs-2">Customer</th>
													<th class="col-xs-1">Status</th>
													<th class="text-right col-xs-2">Total</th>
													<th class="col-xs-2">Date Added</th>
													<th class="col-xs-2">Date Modified</th>
													<th class="text-right col-xs-2">Action</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="text-right">10999</td>
													<td>Samantha Carter</td>
													<td>
														<span class="label label-success">Completed</span>
													</td>
													<td class="text-right">$105.00</td>
													<td>27/09/2014 08:13</td>
													<td>27/09/2014 08:45</td>
													<td class="text-right">
														<a href="ecommerce-order-view.html" class="btn btn-primary btn-sm" role="button">View</a>
													</td>
												</tr>
												<tr>
													<td class="text-right">10998</td>
													<td>Jonas Quinn</td>
													<td>
														<span class="label label-danger">Cancelled</span>
													</td>
													<td class="text-right">$785.00</td>
													<td>26/09/2014 09:45</td>
													<td>26/09/2014 09:45</td>
													<td class="text-right">
														<a href="ecommerce-order-view.html" class="btn btn-primary btn-sm" role="button">View</a>
													</td>
												</tr>
												<tr>
													<td class="text-right">10997</td>
													<td>George Hammond</td>
													<td>
														<span class="label label-warning">Pending</span>
													</td>
													<td class="text-right">$5,623.00</td>
													<td>26/09/2014 08:13</td>
													<td>26/09/2014 08:45</td>
													<td class="text-right">
														<a href="ecommerce-order-view.html" class="btn btn-primary btn-sm" role="button">View</a>
													</td>
												</tr>
												<tr>
													<td class="text-right">10996</td>
													<td>Teal'c Jafar</td>
													<td>
														<span class="label label-info">Action Required</span>
													</td>
													<td class="text-right">$928.77</td>
													<td>22/09/2014 08:13</td>
													<td>22/09/2014 08:45</td>
													<td class="text-right">
														<a href="ecommerce-order-view.html" class="btn btn-primary btn-sm" role="button">View</a>
													</td>
												</tr>
												<tr>
													<td class="text-right">10995</td>
													<td>Daniel Jackson</td>
													<td>
														<span class="label label-primary">Processing</span>
													</td>
													<td class="text-right">$1200.28</td>
													<td>20/09/2014 08:13</td>
													<td>20/09/2014 08:45</td>
													<td class="text-right">
														<a href="ecommerce-order-view.html" class="btn btn-primary btn-sm" role="button">View</a>
													</td>
												</tr>
												<tr>
													<td class="text-right">10994</td>
													<td>Samantha Carter</td>
													<td>
														<span class="label label-success">Completed</span>
													</td>
													<td class="text-right">$105.00</td>
													<td>27/09/2014 08:13</td>
													<td>27/09/2014 08:45</td>
													<td class="text-right">
														<a href="ecommerce-order-view.html" class="btn btn-primary btn-sm" role="button">View</a>
													</td>
												</tr>
												<tr>
													<td class="text-right">10993</td>
													<td>Jonas Quinn</td>
													<td>
														<span class="label label-danger">Cancelled</span>
													</td>
													<td class="text-right">$785.00</td>
													<td>26/09/2014 09:45</td>
													<td>26/09/2014 09:45</td>
													<td class="text-right">
														<a href="ecommerce-order-view.html" class="btn btn-primary btn-sm" role="button">View</a>
													</td>
												</tr>
												<tr>
													<td class="text-right">10992</td>
													<td>George Hammond</td>
													<td>
														<span class="label label-warning">Pending</span>
													</td>
													<td class="text-right">$5,623.00</td>
													<td>26/09/2014 08:13</td>
													<td>26/09/2014 08:45</td>
													<td class="text-right">
														<a href="ecommerce-order-view.html" class="btn btn-primary btn-sm" role="button">View</a>
													</td>
												</tr>
												<tr>
													<td class="text-right">10991</td>
													<td>Teal'c Jafar</td>
													<td>
														<span class="label label-info">Action Required</span>
													</td>
													<td class="text-right">$928.77</td>
													<td>22/09/2014 08:13</td>
													<td>22/09/2014 08:45</td>
													<td class="text-right">
														<a href="ecommerce-order-view.html" class="btn btn-primary btn-sm" role="button">View</a>
													</td>
												</tr>
												<tr>
													<td class="text-right">10990</td>
													<td>Daniel Jackson</td>
													<td>
														<span class="label label-primary">Processing</span>
													</td>
													<td class="text-right">$1200.28</td>
													<td>20/09/2014 08:13</td>
													<td>20/09/2014 08:45</td>
													<td class="text-right">
														<a href="ecommerce-order-view.html" class="btn btn-primary btn-sm" role="button">View</a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						<!-- END Block: Latest 10 Orders -->
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- Placed at the end of the document so the pages load faster -->
<!-- Required JS Files -->
<script type="text/javascript" src="~/js/required/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="~/js/required/jquery-ui-1.11.0.custom/jquery-ui.min.js"></script>
<script type="text/javascript" src="~/js/required/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="~/js/required/jquery.easing.1.3-min.js"></script>
<script type="text/javascript" src="~/js/required/jquery.mCustomScrollbar.min.js"></script>
<script type="text/javascript" src="~/js/required/misc/jquery.mousewheel-3.0.6.min.js"></script>
<script type="text/javascript" src="~/js/required/misc/retina.min.js"></script>
<script type="text/javascript" src="~/js/required/icheck.min.js"></script>
<script type="text/javascript" src="~/js/required/misc/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="~/js/required/circloid-functions.js"></script>

<!-- Optional JS Files -->
<script type="text/javascript" src="~/js/optional/circloid-functions-optional.js"></script>
<script type="text/javascript" src="~/js/optional/flot/jquery.flot.min.js"></script>
<script type="text/javascript" src="~/js/optional/flot/jquery.flot.JUMlib.min.js"></script>
<script type="text/javascript" src="~/js/optional/flot/jquery.flot.resize.min.js"></script>
<script type="text/javascript" src="~/js/optional/flot/jquery.flot.tooltip.min.js"></script>
<script type="text/javascript" src="~/js/optional/flot/jquery.flot.pie.min.js"></script>
<script type="text/javascript" src="~/js/optional/flot/jquery.flot.stack.min.js"></script>
<script type="text/javascript" src="~/js/optional/flot/jquery.flot.time.min.js"></script>
<script type="text/javascript" src="~/js/optional/flot/jquery.flot.orderBars.js"></script>
<script type="text/javascript" src="~/js/optional/easy-pie-chart/jquery.easypiechart.min.js"></script>
<script type="text/javascript" src="~/js/optional/misc/moment.js"></script>
<script type="text/javascript" src="~/js/optional/fullcalendar/fullcalendar.min.js"></script>
<script type="text/javascript" src="~/js/optional/bootstrap-datetimepicker.min.js"></script>
<!-- add optional JS plugin files here -->

<!-- REQUIRED: User Editable JS Files -->
<script type="text/javascript" src="~/js/script.js"></script>
<!-- add additional User Editable files here -->

<!-- Demo JS Files -->
<script type="text/javascript" src="~/js/demo-files/ecommerce-dashboard-1.js"></script>
</body>
</html>