@page
@model Web_PizzaShop.Pages.Admin.OrderViewModel
@{
	Layout = "_AdminLayout";
}

<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Demo CSS Files -->
	<link type="text/css" href="~/css/demo-files/ecommerce-order-view.css" rel="stylesheet" />

</head>
<body>
	<!-- START Body Container -->
	<div id="body-container">

		<!-- START Left Column -->
		<div id="left-column" class="">
			<!-- NOTE TO READER: Accepts the following class(es) "menu-icon-only", "fixed" class -->
			<div id="mainnav">
				<ul class="mainnav">
					<!-- NOTE TO READER: Accepts the following class(es) "animate" class -->
					<li class="menu-item-top">
						<a href="index.html" class="top">
							<span class="main-menu-icon">
								<span aria-hidden="true" class="icon icon-grid-big"></span>
							</span>
							<span class="main-menu-text">Dashboard</span>
						</a>
					</li>
					<li class="menu-item-top selected">
						<a href="#" class="top">
							<span class="main-menu-icon">
								<span aria-hidden="true" class="icon icon-dollar"></span>
							</span>
							<span class="main-menu-text">Dashboard</span>
						</a>
						<ul>
							<li><a href="Dashboard">Dashboard</a></li>
							<li><a href="OrderList">Order List</a></li>
							<li><a href="OrderView">Order View</a></li>
							<li><a href="ProductList">Product List</a></li>
							<li><a href="ProductEdit">Product Edit</a></li>
						</ul>
					</li>
					<li class="menu-item-top">
						<a href="#" class="top">
							<span class="main-menu-icon">
								<span aria-hidden="true" class="icon icon-layers"></span>
							</span>
							<span class="badge pull-right-corner">3</span>
							<span class="main-menu-text">Layouts</span>
						</a>
						<ul>
							<li><a href="menu-left-header-fixed.html">Left Menu (Fixed Header)</a></li>
							<li><a href="menu-left-icon-only.html">Left Menu (Icon Only)</a></li>
							<li><a href="menu-left-fixed.html">Left Menu (Fixed)</a></li>
							<li><a href="menu-left-boxed.html">Boxed Layout</a></li>
							<li><a href="menu-horizontal-normal.html">Horizontal Menu (Normal)</a></li>
							<li><a href="menu-horizontal-text-only.html">Horizontal Menu (Text Only)</a></li>
							<li><a href="menu-horizontal-fixed.html">Horizontal Menu (Fixed + Header)</a></li>
							<li><a href="menu-horizontal-boxed.html">Boxed Layout (Horizontal Menu)</a></li>
						</ul>
					</li>
					<li class="menu-item-top">
						<a href="#" class="top">
							<span class="main-menu-icon">
								<span aria-hidden="true" class="icon icon-star"></span>
							</span>
							<span class="main-menu-text">UI Kits</span>
						</a>
						<ul>
							<li><a href="ui-blocks.html">Blocks</a></li>
							<li><a href="ui-panels-wells.html">Panels &amp; Wells</a></li>
							<li><a href="ui-buttons.html">Buttons</a></li>
							<li><a href="ui-widgets.html">Widgets</a></li>
							<li><a href="ui-charts.html">Charts</a></li>
							<li><a href="ui-icons.html">Icons</a></li>
							<li><a href="ui-typography.html">Typography</a></li>
							<li><a href="ui-tabs-accordions.html">Tabs &amp; Accordions</a></li>
							<li><a href="ui-tooltips-popover.html">Tooltips &amp; Popover</a></li>
							<li><a href="ui-modal.html">Modal</a></li>
							<li><a href="ui-bootstrap-others.html">Other Bootstrap Elements</a></li>
							<li><a href="ui-notification-toastr.html">Notifications (Toastr)</a></li>
							<li><a href="ui-grid-layout.html">Grid Layout</a></li>
						</ul>
					</li>
					<li class="menu-item-top">
						<a href="#" class="top">
							<span class="main-menu-icon">
								<span aria-hidden="true" class="icon icon-documents"></span>
							</span>
							<span class="badge pull-right-corner hidden-collapsed highlight-color-green">7</span>
							<span class="main-menu-text">Pages</span>
						</a>
						<ul>
							<li><a href="pages-blank.html">Blank Page</a></li>
							<li><a href="pages-basic-text.html">Basic Text Page</a></li>
							<li><a href="pages-search-results.html">Search Results</a></li>
							<li><a href="pages-mailbox-inbox.html">Mailbox - Inbox</a></li>
							<li><a href="pages-profile.html">Profile - Customer</a></li>
							<li><a href="pages-profile-admin.html">Profile - Admin</a></li>
							<li><a href="pages-signup.html">Sign Up</a></li>
							<li><a href="pages-signin-1.html">Sign In - Type 1</a></li>
							<li>
								<a href="pages-signin-2.html">
									<span class="badge pull-right">Fancy Effects</span>
									Sign In - Type 2
								</a>
							</li>
							<li><a href="pages-forgot-password.html">Forgot Password</a></li>
							<li><a href="pages-404.html">404 Page</a></li>
							<li><a href="pages-500.html">500 Page</a></li>
							<li><a href="pages-invoice.html">Invoice</a></li>
							<li><a href="pages-changelog-faqs.html">Changelog/FAQs</a></li>
							<li><a href="pages-calendar.html">Calendar</a></li>
							<li><a href="pages-task-list.html">Task List</a></li>
							<li><a href="pages-timeline.html">Timeline</a></li>
						</ul>
					</li>
					<li class="menu-item-top">
						<a href="#" class="top">
							<span class="main-menu-icon">
								<span aria-hidden="true" class="icon icon-settings"></span>
							</span>
							<span class="main-menu-text">Forms</span>
						</a>
						<ul>
							<li><a href="form-elements.html">Form Elements</a></li>
							<li>
								<a href="form-extras.html">
									<span class="badge pull-right">Goodies</span>
									Form Extras
								</a>
							</li>
							<li><a href="form-validation.html">Form Validation</a></li>
							<li><a href="form-wizard.html">Form Wizard</a></li>
							<li><a href="form-file-upload.html">Form Upload</a></li>
							<li><a href="form-image-cropping.html">Image Cropping</a></li>
						</ul>
					</li>
					<li class="menu-item-top">
						<a href="#" class="top">
							<span class="main-menu-icon">
								<span aria-hidden="true" class="icon icon-grids"></span>
							</span>
							<span class="main-menu-text">Tables</span>
						</a>
						<ul>

							<li><a href="tables-basic.html">Basic Tables</a></li>
							<li><a href="tables-responsive.html">Responsive Tables</a></li>
							<li><a href="tables-datatables.html">Data Tables</a></li>
						</ul>
					</li>
					<li class="menu-item-top">
						<a href="#" class="top">
							<span class="main-menu-icon">
								<span aria-hidden="true" class="icon icon-block-menu"></span>
							</span>
							<span class="main-menu-text">Menu Levels</span>
						</a>
						<ul>
							<li>
								<a href="#">Menu Level 1.1</a>
								<ul>
									<li>
										<a href="#">Menu Level 2.1</a>
										<ul>
											<li>
												<a href="#">Menu Level 3.1</a>
												<ul>
													<li>
														<a href="#">Menu Level 4.1</a>
														<ul>
															<li><a href="#">Menu Level 5.1</a></li>
															<li><a href="#">Menu Level 5.2</a></li>
															<li><a href="#">Menu Level 5.3</a></li>
														</ul>
													</li>
													<li><a href="#">Menu Level 4.2</a></li>
													<li><a href="#">Menu Level 4.3</a></li>
												</ul>
											</li>
											<li><a href="#">Menu Level 3.2</a></li>
											<li><a href="#">Menu Level 3.3</a></li>
										</ul>
									</li>
									<li><a href="#">Menu Level 2.2</a></li>
									<li><a href="#">Menu Level 2.3</a></li>
								</ul>
							</li>
							<li><a href="#">Menu Level 1.2</a></li>
							<li><a href="#">Menu Level 1.3</a></li>
						</ul>
					</li>
					<li class="menu-item-top">
						<a href="#" class="top">
							<span class="main-menu-icon">
								<span aria-hidden="true" class="icon icon-map"></span>
							</span>
							<span class="main-menu-text">Maps</span>
						</a>
						<ul>
							<li><a href="maps-google.html">Google Maps</a></li>
							<li><a href="maps-vector.html">Vector Maps</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<!-- END Left Column -->
		<!-- START Right Column -->
		<div id="right-column">
			<div class="right-column-content container-fluid">
				<div class="row">
					<div class="col-xs-12">
						<ol class="breadcrumb">
							<li>
								<a href="index.html">Home</a>
							</li>
							<li>
								<a href="ecommerce-order-view.html">eCommerce</a>
							</li>
							<li class="active">
								<a href="ecommerce-order-view.html">Order View</a>
							</li>
						</ol>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<h1>
							<span aria-hidden="true" class="icon icon-dollar"></span>
							<span class="main-text">
								Order View
							</span>
						</h1>
					</div>
					<div class="col-md-6">

						<!-- START Main Buttons -->
						<div class="page-heading-controls">
							<a href="pages-invoice.html" role="button" class="btn btn-primary">Print Invoice</a>
							<a href="ecommerce-order-list.html" role="button" class="btn btn-danger">Cancel</a>
						</div>
						<!-- END Main Buttons -->

					</div>
				</div>
				<div class="row">
					<div class="col-md-12">

						<!-- START Block: Order View -->
						<div class="block">
							<div class="block-heading">
								<div class="main-text h2">
									Order #10999 - Samantha Carter
								</div>
							</div>
							<div class="block-content-outer">
								<div class="block-content-inner">
									<div id="order-view-content" class="table-responsive">
										<ul id="order-view-tabs" class="nav nav-tabs tabs-left">
											<li class="active"><a href="#order-view-tabs-order-details" data-toggle="tab">Order Details</a></li>
											<li><a href="#order-view-tabs-payment" data-toggle="tab">Payment</a></li>
											<li><a href="#order-view-tabs-products" data-toggle="tab">Product List</a></li>
										</ul>
										<div class="tab-content">
											<div id="order-view-tabs-order-details" class="tab-pane active">
												<table class="table table-hover">
													<tbody>
														<tr>
															<td class="col-md-3">Order ID:</td>
															<td class="col-md-9">#10999</td>
														</tr>
														<tr>
															<td class="col-md-3">Invoice #:</td>
															<td class="col-md-9">INV-10999-01</td>
														</tr>
														<tr>
															<td class="col-md-3">Customer Name:</td>
															<td class="col-md-9">Samantha Carter</td>
														</tr>
														<tr>
															<td class="col-md-3">Customer Group:</td>
															<td class="col-md-9">Default</td>
														</tr>
														<tr>
															<td class="col-md-3">Email:</td>
															<td class="col-md-9">samantha.c@example.com</td>
														</tr>
														<tr>
															<td class="col-md-3">Telephone:</td>
															<td class="col-md-9">01-0987 6543</td>
														</tr>
														<tr>
															<td class="col-md-3">IP Address:</td>
															<td class="col-md-9">127.0.0.1</td>
														</tr>
														<tr>
															<td class="col-md-3">Total:</td>
															<td class="col-md-9">$4,000.20</td>
														</tr>
														<tr>
															<td class="col-md-3">Order Status:</td>
															<td class="col-md-9">
																<span class="label label-success">Completed</span>
															</td>
														</tr>
														<tr>
															<td class="col-md-3">Date Added:</td>
															<td class="col-md-9">27/09/2014 08:13</td>
														</tr>
														<tr>
															<td class="col-md-3">Date Modified:</td>
															<td class="col-md-9">27/09/2014 08:45</td>
														</tr>
													</tbody>
												</table>
											</div>
											<div class="tab-pane" id="order-view-tabs-payment">
												<table class="table table-hover">
													<tbody>
														<tr>
															<td class="col-md-3">First Name:</td>
															<td class="col-md-9">Samantha</td>
														</tr>
														<tr>
															<td class="col-md-3">Last Name:</td>
															<td class="col-md-9">Carter</td>
														</tr>
														<tr>
															<td class="col-md-3">Address:</td>
															<td class="col-md-9">No 1, Sesame Street</td>
														</tr>
														<tr>
															<td class="col-md-3">City:</td>
															<td class="col-md-9">New York City</td>
														</tr>
														<tr>
															<td class="col-md-3">Postcode:</td>
															<td class="col-md-9">109-80-A2</td>
														</tr>
														<tr>
															<td class="col-md-3">Region / State:</td>
															<td class="col-md-9">New York</td>
														</tr>
														<tr>
															<td class="col-md-3">Country:</td>
															<td class="col-md-9">United States</td>
														</tr>
														<tr>
															<td class="col-md-3">Payment Method:</td>
															<td class="col-md-9">Cash On Delivery</td>
														</tr>
													</tbody>
												</table>
											</div>
											<div class="tab-pane" id="order-view-tabs-products">
												<table class="table table-bordered table-hover">
													<thead>
														<tr>
															<th>Product</th>
															<th>SKU</th>
															<th class="text-right">Quantity</th>
															<th class="text-right">Unit Price</th>
															<th class="text-right">Total</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>iPod Classic</td>
															<td>APLIPODC</td>
															<td class="text-right">20</td>
															<td class="text-right">$1,000.05</td>
															<td class="text-right">$4,000.20</td>
														</tr>
														<tr>
															<td class="text-right" colspan="4">Sub-Total:</td>
															<td class="text-right">$4,000.20</td>
														</tr>
														<tr>
															<td class="text-right" colspan="4">Shipping Rate:</td>
															<td class="text-right">$100.00</td>
														</tr>
														<tr>
															<td class="text-right" colspan="4">Total:</td>
															<td class="text-right">$4,100.20</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- END Block: Order View -->

					</div>
				</div>
			</div>

				

		</div>
		<!-- END Right Column -->

	</div>
	<!-- END Body Container -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- Required JS Files -->
	<script type="text/javascript" src="~/js/required/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="~/js/required/jquery-ui-1.11.0.custom/jquery-ui.min.js"></script>
	<script type="text/javascript" src="~/js/required/bootstrap/bootstrap.min.js"></script>
	<script type="text/javascript" src="~/js/required/jquery.easing.1.3-min.js"></script>
	<script type="text/javascript" src="~/js/required/jquery.mCustomScrollbar.min.js"></script>
	<script type="text/javascript" src="~/js/required/misc/jquery.mousewheel-3.0.6.min.js"></script>
	<script type="text/javascript" src="~/js/required/misc/retina.min.js"></script>
	<script type="text/javascript" src="~/js/required/icheck.min.js"></script>
	<script type="text/javascript" src="~/js/required/misc/jquery.ui.touch-punch.min.js"></script>
	<script type="text/javascript" src="~/js/required/circloid-functions.js"></script>

	<!-- Optional JS Files -->
	<!-- add optional JS plugin files here -->
	<!-- REQUIRED: User Editable JS Files -->
	<script type="text/javascript" src="~/js/script.js"></script>
	<!-- add additional User Editable files here -->
</body>
</html>